---
import Layout from '../layouts/Layout.astro';
import DashboardContent from '../components/DashboardContent.jsx';
---

<Layout title="Dashboard | Suchbot">
	<main style={{ paddingTop: '60px' }}>
		<DashboardContent client:only="react" />
	</main>
</Layout>
